/* mainmid.module.css */

.centeredcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
  }
  
  .heading {
    font-size: 4rem;
    margin-bottom: 0.7rem;
    color: rgb(75, 75, 43);
  }
  
  .description {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: rgb(138, 120, 20);
  }
  
  .customButton {
    padding: 15px 30px;
    margin-top: 1rem;
    font-size: 20px;
    border: none;
    background-color: #5b5a2d;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .customButton:hover {
    background-color: #bd9a0f;
  }
  
  /* Media Queries for responsiveness */
  @media only screen and (max-width: 600px) {
    .heading {
      font-size: 3rem;
    }
  
    .description {
      font-size: 1.5rem;
    }
  
    .customButton {
      padding: 12px 24px;
      font-size: 18px;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .heading {
      font-size: 2.5rem;
    }
  
    .description {
      font-size: 1.2rem;
    }
  
    .customButton {
      padding: 10px 20px;
      font-size: 16px;
    }
  }
  